<nav>
    <div class="site-title">
        <a href="/"><h1>BLOG</h1></a>
    </div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <li><a href="/">BLOGS</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/blogs/create">NEW BLOG</a></li>
    </ul>
</nav>