@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Serif', serif;
    background: #fff;
}

p, h1, h2, h3, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #030036;
}

p{
  margin: 5px;
}

ul{
  padding-bottom: 50px;
}

nav{
    height: 12vh;
    background: #030036;
    border-bottom: 2px solid #f8f7f7;
    border-radius: 0 0 0 60%;
    margin-bottom: 60px;

}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    /* background: #478978; */
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}


footer{
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
  }

  h2{
    margin-bottom: 40px;
  }
  h3{
    color: #030036;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  .content{
    margin-left: 20px;
  }

/* index styles */

.blogs a{
  /* background-color: #030036; */
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 1rem ridge rgb(20, 197, 220);
}

.blogs a:hover h3{
    color: #595681;
}

/* create styles */
.create-blog form{
    max-width: 400px;
    margin: 0 auto;
  }
  .create-blog input,
  .create-blog textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
  }

  .create-blog label{
    display: block;
    margin-top: 24px;
  }
  textarea{
    height: 120px;
  }

  textarea:hover{
    background-color: rgb(228, 228, 228);
  }

  .create-blog button{
    margin-top: 20px;
    background: rgb(34, 145, 236);
    color: white;
    padding: 9px;
    border: 0;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
  }

  .create-blog button:hover {
    background: rgb(0, 121, 219);
  }

  


  @media screen and (max-width: 768px){
    
    .line{
        width: 30px;
        height: 3px;
        background: #ffffff;
        margin: 5px;
    }
    nav {
        position: relative;
    }

    .hamburger{
        background: #030036;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    
    .nav-links{
        position: fixed;
        background: #030036;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(60px at 90% -10%);
        -webkit-clip-path: circle(60px at 90% -10%);
        transition: all 0.9s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    
    .nav-links li{
        opacity: 0;
    }
    .nav-links li a{
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease-in 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease-in 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease-in 0.6s;
    }
    li.fade{
        opacity: 1;
    }
}



  /* details styles */
  .details{
    position: relative;
  }
  .delete{
    position: absolute;
    top: 0;
    right: 3%;
    border-radius: 50%;
    padding: 10px;
  }
  .delete:hover{
    cursor: pointer;
    box-shadow: 0 0 0 0.2em #ff0000;
  }

